[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supriya = "*"
ruff = "*"
mypy = "*"
mido = "*"
python-rtmidi = "*"
console-menu = "*"
arpeggiator = "*"
arpeggiator-clock = "*"
class-lib = "*"
"copying.txt" = "*"
midi-drum-sequencer = "*"
midi-synth = "*"
midi-synth-effects = "*"
pipfile = "*"
"pipfile.lock" = "*"
"readme.md" = "*"
recordings = "*"
"record-to-disk.py" = "*"
sampler-sequencer = "*"

[dev-packages]

[requires]
python_version = "3.11"
