[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supriya = "*"
ruff = "*"
mypy = "*"
console-menu = "*"
mido = "*"
python-rtmidi = "*"
librosa = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
